# --- Miscellaneous ---
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# --- IDE ---
*.iml
*.ipr
*.iws
.idea/
.vscode/

# --- Flutter / Dart ---
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/
pubspec.lock
**/doc/api/
**/ios/Flutter/.last_build_id

# --- iOS ---
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
*.xcuserstate
**/*.xcodeproj/*
*.xcworkspace
app.*.symbols
app.*.map.json

# --- Android ---
android/.gradle/
android/.idea/
android/app/build/
android/local.properties
android/app/debug
android/app/profile
android/app/release
*.jks

# --- macOS ---
.DS_Store

# --- Firebase Functions (Node.js) ---
firebase-debug.log
functions/node_modules/
functions/lib/
functions/.env
